<div class="signup-wrapper">
  <h2 class="signup-text">SIGN UP FOR YOUR ACCOUNT</h2>

  <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="signup-field">
      <span class="indispensable">必須</span>
      <%= f.label :email, value='email：' %><br/>
      <%= f.email_field :email, width:"1000" , autofocus: true, autocomplete: "email" %>
    </div>

    <%if @sns_id.present? %>
      <%= hidden_field_tag :sns_auth, true %>
    <% else %>
    <div class="signup-field">
      <span class="indispensable">必須</span>
      <%= f.label :password, value='password' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 字以上)：</em><br/>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="signup-field">
      <span class="indispensable">必須</span>
      <%= f.label :password_confirmation, value='password再入力：' %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <% end %>

    <div class="signup-field">
      <span class="indispensable">必須</span>
      <%= f.label :nickname, value='ユーザー名：' %><br/>
      <%= f.text_field :nickname %>
    </div>

    <div class="signup-field">
      <span class="indispensable">必須</span>
      <%= f.label :gender_id, value='性別：' %><br/>
      <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"pull-select"}) %>
    </div>

    <div class="signup-field">
      <span class="dispensable">任意</span>
      <%= f.label :age_id, value='年齢：' %><br/>
      <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"pull-select"}) %>
    </div>

    <div class="signup-field">
      <span class="indispensable">必須</span>
      <%= f.label :prefecture_id, value='お住まいの都道府県：' %><br/>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"pull-select"}) %>
    </div>

    <div class="signup-field">
      <span class="indispensable">必須</span>
      <%= f.label :region_id, value='お住まいの地域：' %><br/>
      <%= f.collection_select(:region_id, Region.all, :id, :name, {}, {class:"pull-select"}) %>
    </div>

    <div class="signup-field">
      <span class="dispensable">任意</span>
      <%= f.label :favorite_id, value='お好みのお酒：' %><br/>
      <%= f.collection_select(:favorite_id, Favorite.all, :id, :name, {}, {class:"pull-select"}) %>
    </div>

    <div>
      <%= f.submit "ユーザー登録", class:"signup-submit-button" %>
    </div>
  <% end %>

  <%= render "devise/shared/error_messages" %>
</div>