<% breadcrumb :root %>
<% unless user_signed_in? %>
<div class="log-in-wrapper">
  <div class="top-title">Let's keep your drink diary</div>
  <div class="top-message">あなたのお酒を飲んだ日々を記録するアプリです<br>
  過去にお酒とどんな気持ちで過ごしていたか思い出してください<br>
  お酒好きな人たちがどんな風に日々呑んでいるかチェックもできます</div>
  <div class="log-in-page">
    <div class="inner-log-in-page">
      <div class="log-in-link">
        <%=link_to 'ログイン', new_user_session_path %>
      </div>
      <div class="sign-up-link">
        <%=link_to '新規登録', new_user_registration_path %>
      </div>
      <p class="or">OR</p>
      <div class="facebook-link">
        <img src="/assets/f_logo.png", width= "25px", alt="facebook-logo">
        <%= link_to 'Connect with Facebook', user_facebook_omniauth_authorize_path, method: :post%>
      </div>
      <div class="google-link">
        <img src="/assets/google-icon.png", width= "30px", alt="google-icon">
        <%= link_to 'Connect with Google', user_google_oauth2_omniauth_authorize_path, method: :post%>
      </div>
    </div>
  </div>
</div>
<%end%>

<% if user_signed_in? %>
<div class="usage-explanation">
  <p class="detail-explanation">〜 右上のメニューボタンからアルコールを記録できます 〜</p>
</div>
  <%= month_calendar events: @drinks do |date, drinks| %>
    <div id='click-show-view'><%= date.day %></div>
    <% drinks.each do |drink| %>
      <% if user_signed_in? && current_user.id == drink.user_id %>
        <div hidden class='second-drink-id'><%= drink.id %></div>
        <div class="square">
          <% if drink.non_drinking == false %>
            <div><%= image_tag 'kanpai.png' %></div>
          <% elsif drink.non_drinking == true %>
            <div><%= image_tag 'nondrinking.png' %></div>
          <% end %>
          <span></span>
          <div class="more">
            <span></span>
            <ul class="more_list">
              <li class="drink-list">
                <%=link_to '詳細を表示', user_drink_path(user_id: current_user.id, id: drink.id) %>
              </li>
              <li class="drink-list">
                <%= link_to '内容を修正', edit_user_drink_path(user_id: current_user.id, id: drink.id) %>
              </li>
              <li class="drink-list">
                <%= link_to '記録を削除', user_drink_path(user_id: current_user.id, id: drink.id), method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
