<% breadcrumb :user_drink, @drink.id %>

<div class="drink-show-image">
  <p class="show-explanation">〜 一番下のリンクからあなたのランキングをチェックできます 〜</p>
</div>

<div class='drink-id'>
    <div class="show-title">
      <%= "〜 #{ @drink.start_time.strftime("%Y年 %m月 %d日")}の日記です 〜" %>
    </div>

    <% if @drink.non_drinking == false %>
      <div><%= image_tag 'kanpai.png' %></div>
    <% elsif @drink.non_drinking == true %>
      <div><%= image_tag 'nondrinking.png' %></div>
    <% end %>

    <div class="drink-show-info">
      <%= "#{@drink.type.name}：" %>
      <%= "#{@drink.volume}ml"%>
    </div>

    <% if @drink.type2_id >= 1 %>
      <div class="drink-show-info">
        <%= "#{@drink.type2.name}：" %>
        <%= "#{@drink.volume2}ml"%>
      </div>
    <% end %>

    <% if @drink.type3_id >= 1 %>
      <div class="drink-show-info">
        <%= "#{@drink.type3.name}：" %>
        <%= "#{@drink.volume3}ml"%>
      </div>
    <% end %>

    <% if @drink.type4_id >= 1 %>
      <div class="drink-show-info">
        <%= "#{@drink.type4.name}：" %>
        <%= "#{@drink.volume4}ml"%>
      </div>
    <% end %>

    <% if @drink.type5_id >= 1 %>
      <div class="drink-show-info">
        <%= "#{@drink.type5.name}：" %>
        <%= "#{@drink.volume5}ml"%>
      </div>
    <% end %>

    <div class="drink-show-info">
      <%= "接種アルコール：#{@drink.total_abv}mg" %>
    </div>

    <div class="drink-show-info">
      <%= "コメント：#{@drink.comment}" %>
    </div>

    <div class="edit-drink-show"><%= link_to 'Edit Diary', edit_user_drink_path(user_id: current_user.id, id: @drink.id) %></div>
    <div class="delete-drink-show"><%= link_to 'Delete Diary', user_drink_path(user_id: current_user.id, id: @drink.id), method: :delete, data: { confirm: 'Are you sure?' } %></div>

  </div>
</div>

<div class="to-ranking"><%= link_to 'この日の飲酒量ランキングを見る', drinks_ranking_path(start_time: @drink.start_time)%></div>