<% breadcrumb :edit_user %>

<div class="edit-user-title">〜 ユーザー情報変更ページ 〜</div>

<%= form_with model: @user, url: user_path, class: 'registration-main', local: true do |f| %>

  <div class="user-field">
    <%= "ユーザー名：#{@nickname}" %>
  </div>

  <div class="user-field">
    <span class="dispensable">任意</span><br/>
    <%= f.label :introduction, value='お好きに一言：' %>
    <%= f.text_field :introduction %>
  </div>

  <div class="user-field">
    <span class="indispensable">必須</span><br/>
    <%= f.label :gender_id, value='性別：' %>
    <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"pull-select"}) %>
  </div>

  <div class="user-field">
    <span class="dispensable">任意</span><br/>
    <%= f.label :age_id, value='おおよその年齢：' %>
    <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"pull-select"}) %>
  </div>

  <div class="user-field">
    <span class="indispensable">必須</span><br/>
    <%= f.label :prefecture_id, value='お住まいの都道府県：' %>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"pull-select"}) %>
  </div>

  <div class="user-field">
    <span class="indispensable">必須</span><br/>
    <%= f.label :region_id, value='お住まいの地域：' %>
    <%= f.collection_select(:region_id, Region.all, :id, :name, {}, {class:"pull-select"}) %>
  </div>

  <div class="user-field">
    <span class="dispensable">任意</span><br/>
    <%= f.label :favorite_id, value='お好みのお酒：' %>
    <%= f.collection_select(:favorite_id, Favorite.all, :id, :name, {}, {class:"pull-select"}) %>
  </div>

  <div>
    <%= f.submit "ユーザー情報更新", class:"update-user" %>
  </div>
<% end %>