<!DOCTYPE html>
<html>
  <head>
    <title>LiquorApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="logo-image">
        <%= link_to image_tag("/assets/whiskey.png", alt: "logo", class:"logo-detail"), root_path %>
      </div>
      <% if user_signed_in? %>
      <nav class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
          <div class="menu-content">
            <ul class="user_nav grid-6">
              <li><%= link_to "マイページ", edit_user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "アルコールを記録", new_user_drink_path(current_user.id), method: :get %></li>
            </ul>
          </div>
      </nav>
      <% end %>
    </header>
    <%= breadcrumbs separator: " &rsaquo; ", class: "breadcrumb" %>
    <%= yield %>
  </body>
</html>
