<!DOCTYPE html>
<html>
  <head>
    <title>LiquorApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
        <div class="header__bar row">
          <h1 class="grid-6"><a href="/">LiquorApp</a></h1>
          <% if user_signed_in? %>
            <div class="user_nav grid-6">
              <%= link_to "マイページ", edit_user_path(current_user.id) %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </div>
            <% if current_page?(root_path) %>
              <div>
                <%= button_to "アルコールを記録", new_user_drink_path(current_user.id), method: :get %>
              <div>
            <% end %>
          <% else %>
            <div class="log-in-page">
              <div class="inner-log-in-page">
                <div class="log-in-link">
                  <%=link_to 'ログイン', new_user_session_path %>
                </div>
                <div class="sign-up-link">
                  <%=link_to '新規登録', new_user_registration_path %>
                </div>
                <p class="or">OR</p>
                <div class="facebook-link">
                  <img src="/assets/f_logo.png", width= "25px", alt="facebook-logo">
                  <%= link_to 'Connect with Facebook', user_facebook_omniauth_authorize_path, method: :post%>
                </div>
                <div class="google-link">
                  <img src="/assets/google-icon.png", width= "30px", alt="google-icon">
                  <%= link_to 'Connect with Google', user_google_oauth2_omniauth_authorize_path, method: :post%>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </header>
    <%= breadcrumbs separator: " &rsaquo; " %>
    <%= yield %>
  </body>
</html>
